SIMKL_URL=https://api.simkl.com/
SIMKL_CLIENT_ID=
SIMKL_CLIENT_SECRET=
SIMKL_USER_ID=
LASTFM_URL=
LASTFM_API_KEY=
LASTFM_USERNAME=
WAKATIME_URL=https://api.wakatime.com/api/v1/
WAKATIME_API_KEY=
WAKATIME_USERNAME=
OSU_URL=https://osu.ppy.sh/
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
OSU_USER_ID=
STEAM_URL=https://api.steampowered.com/
STEAM_API_KEY=
STEAM_USER_ID=
ANILIST_URL=https://graphql.anilist.co/
ANILIST_USERNAME=
IMMICH_URL=
IMMICH_API_KEY=