@import "tailwindcss";

:root {
  --background: #11111b;
  --backgroundlight: #151522;
  --accent: #ff941a;
  --accent-light: #ffb84d;
  --gray: 96, 115, 159;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --gradient-blue-pink: linear-gradient(90deg, rgb(34, 181, 254) 0%, rgb(255, 186, 214) 100%);
  --gradient-pink-orange: linear-gradient(132deg, rgb(253, 112, 136) 0%, rgb(255, 211, 165) 100%);
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/NunitoSans.ttf") format("truetype");
  font-weight: 200 300 400 500 600 700 800 900;
  font-display: swap;
  @apply not-italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/NunitoSans-Italic.ttf") format("truetype");
  font-weight: 200 300 400 500 600 700 800 900;
  font-display: swap;
  @apply italic;
}

@theme {
  --font-nunito: "Nunito", sans-serif;
  --color-background: var(--background);
  --color-backgroundlight: var(--backgroundlight);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-accentlight: var(--accent-light);
  --box-shadow: var(--box-shadow);
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-background;
  @apply font-nunito;
  @apply font-normal;
  @apply m-0;
  @apply text-pretty;
  @apply text-gray-300;
  @apply text-lg;
  @apply mx-auto;
  @apply max-w-7xl;
  @apply px-2;
  @apply leading-[1.7];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}

/* h1 {
  @apply text-6xl;
  @apply font-extrabold;
}

h2 {
  @apply text-5xl;
  @apply font-bold;
}

h3 {
  @apply text-3xl;
  @apply font-bold;
}

h4 {
  @apply text-2xl;
  @apply font-bold;
}

h5 {
  @apply text-xl;
  @apply font-bold;
}

h6 {
  @apply text-lg;
  @apply font-bold;
} */

strong,
b {
  @apply font-bold;
}

a {
  @apply text-accent;
}

a:hover {
  background: var(--gradient-pink-orange);
  @apply bg-clip-text;
  -webkit-text-fill-color: transparent;
}

textarea {
  @apply w-full;
  @apply text-base;
}

table {
  @apply: w-full;
}

img {
  @apply h-auto;
  @apply max-w-full;
}

code {
  @apply bg-gray-800;
  @apply rounded-lg;
  @apply px-2;
  @apply py-1;
}

pre {
  @apply p-[1.5em];
  @apply rounded-2xl;
  @apply bg-amber-300;
  @apply bg-gray-800;
}

pre > code {
  all: unset;
}

blockquote {
  @apply border-l-4;
  @apply border-accent;
  @apply pl-5;
  @apply text-2xl;
  @apply italic;
}

hr {
  @apply border-t-1;
  @apply border-gray-700;
  @apply my-8;
}

.icon-link {
  @apply opacity-70;
  @apply text-gray-300;
  @apply decoration-0;
  @apply transition-all;
  @apply duration-150;
  @apply ease-in-out;
}

.icon-link:hover {
  @apply opacity-100;
  @apply text-gray-200;
  @apply scale-115;
}

.non-styled-link {
  @apply bg-transparent;
  @apply text-white;
  @apply no-underline;
  @apply transition-all;
  @apply duration-150;
  @apply ease-in-out;

  @apply bg-clip-border;
  -webkit-text-fill-color: var(--color-text);
}

.link-button:hover {
  @apply bg-transparent;
  @apply bg-clip-border;
  @apply text-white;
  @apply bg-none;
  -webkit-text-fill-color: var(--color-text);
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
  @apply rounded-2xl;
  border-radius: 999rem;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
