---
import Copy from "@assets/icons/copy.svg";
import Cv from "@assets/icons/cv.svg";
import Discord from "@assets/icons/discord.svg";
import Email from "@assets/icons/email.svg";
import Github from "@assets/icons/github.svg";
import Linkedin from "@assets/icons/linkedin.svg";
import Osu from "@assets/icons/osu.svg";
import Steam from "@assets/icons/steam.svg";
---

<footer class="mt-32 mb-16 flex flex-col flex-wrap items-center justify-center gap-4">
  <div class="flex flex-wrap items-center justify-center gap-4">
    <a href="mailto:leander@furumo.eu" class="icon-link">
      <Email class="size-8 lg:size-10" />
    </a>
    <a href="https://github.com/LBlend" class="icon-link">
      <Github class="size-8 lg:size-10" />
    </a>
    <a href="https://cv.furumo.eu" class="icon-link">
      <Cv class="size-8 lg:size-10" />
    </a>
    <a href="https://www.linkedin.com/in/leander-west-furumo/" class="icon-link">
      <Linkedin class="size-8 lg:size-10" />
    </a>
    <a href="https://discord.com/users/170506717140877312" class="icon-link">
      <Discord class="size-8 lg:size-10" />
    </a>
    <a href="https://steamcommunity.com/id/lblend/" class="icon-link">
      <Steam class="size-8 lg:size-10" />
    </a>
    <a href="https://osu.ppy.sh/users/8913869" class="icon-link">
      <Osu class="size-8 lg:size-10" />
    </a>
  </div>
  <p class="text-center text-base lg:text-lg">
    The website is heavily inspired by{" "}
    <a href="https://jaxtam.dev/">Jax Tam</a> &{" "}
    <a href="https://xetera.dev/">Xetera</a>
  </p>
  <div class="flex items-center justify-stretch gap-6">
    <a href="/pgp.asc" class="text-xs">PGP Key</a>
    <span class="h-4 border-1 border-gray-600"></span>
    <div class="flex items-center justify-center gap-1 text-xs text-gray-400 opacity-70">
      <button id="xmr-button">
        <Copy class="size-4 cursor-pointer" id="xmr-copy" />
      </button>
      <span id="xmr-address">
        Please enable Javascript. We are living in CURRENT YEAR. I won't use it to steal your data :)
      </span>
    </div>
  </div>

  <script>
    const XMR_ADDRESS =
      "44U8wJkHjjqQqkucxKMght52TPXotUgQBLMDx9HYtWiYExKmW55bAwMX7FEmVr5KHQfSs7heZibzQDovXAFFUDFNJpNYyAi";

    const button = document.getElementById("xmr-button");
    if (button) {
      const addressElement = document.getElementById("xmr-address");
      if (addressElement) {
        addressElement.textContent = `XMR: ${XMR_ADDRESS.slice(0, 4)}...`;
      }

      const copyIcon = document.getElementById("xmr-copy");
      if (copyIcon) {
        copyIcon.addEventListener("click", () => {
          navigator.clipboard.writeText(XMR_ADDRESS);
          if (addressElement) {
            addressElement.textContent = "Copied XMR!";
            setTimeout(() => {
              addressElement.textContent = `XMR: ${XMR_ADDRESS.slice(0, 4)}...`;
            }, 2000);
          }
        });
      }
    }
  </script>
</footer>
