---
import Cv from "@assets/icons/cv.svg";
import Discord from "@assets/icons/discord.svg";
import Email from "@assets/icons/email.svg";
import Github from "@assets/icons/github.svg";
import Instagram from "@assets/icons/instagram.svg";
import Linkedin from "@assets/icons/linkedin.svg";
import Osu from "@assets/icons/osu.svg";
import Steam from "@assets/icons/steam.svg";
---

<footer class="mt-32 mb-16 flex flex-col flex-wrap items-center justify-center gap-4">
  <div class="flex flex-wrap items-center justify-center gap-4">
    <a href="mailto:leander@furumo.eu" class="icon-link">
      <Email class="size-10" />
    </a>
    <a href="https://github.com/LBlend" class="icon-link">
      <Github class="size-10" />
    </a>
    <a href="https://cv.furumo.eu" class="icon-link">
      <Cv class="size-10" />
    </a>
    <a href="https://www.linkedin.com/in/leander-west-furumo/" class="icon-link">
      <Linkedin class="size-10" />
    </a>
    <a href="https://discord.com/users/170506717140877312" class="icon-link">
      <Discord class="size-10" />
    </a>
    <a href="https://steamcommunity.com/id/lblend/" class="icon-link">
      <Steam class="size-10" />
    </a>
    <a href="https://osu.ppy.sh/users/8913869" class="icon-link">
      <Osu class="size-10" />
    </a>
  </div>
  <p class="text-center">
    The website is heavily inspired by{" "}
    <a href="https://jaxtam.dev/">Jax Tam</a> &{" "}
    <a href="https://xetera.dev/">Xetera</a>
  </p>
  <p class="hidden text-center text-xs break-words text-gray-400 lg:block">
    XMR: 44U8wJkHjjqQqkucxKMght52TPXotUgQBLMDx9HYtWiYExKmW55bAwMX7FEmVr5KHQfSs7heZibzQDovXAFFUDFNJpNYyAi
  </p>
</footer>
