---
import { Image } from "astro:assets";

import { useTranslations } from "@i18n/index";

const locale = Astro.locals.locale;
const t = useTranslations(locale);
---

<script is:inline>
  window.visitedplaces_config = {
    map: "world",
    projection: "geoNaturalEarth1",
    theme: "dark-yellow",
    water: 1,
    graticule: 0,
    names: 0,
    duration: 0,
    slider: 1,
    autoplay: 0,
    autozoom: "none",
    data: [
      {
        places: [
          "DK",
          "SE",
          "ES",
          "GI",
          "FR",
          "TH",
          "IE",
          "US",
          "CO",
          "MX",
          "GB",
          "HU",
          "IT",
          "JP",
          "PL",
          "PT",
          "HR",
          "GR",
          "VA",
          "KR",
          "TW",
          "HK",
          "VN",
          "FI",
          "NL",
          "DE",
          "CZ",
          "AT",
          "SK",
          "SI",
          "CH",
          "LI",
          "LU",
          "BE",
        ],
        colors: {
          NO: "2555bb",
        },
      },
    ],
    home: "NO",
  };
</script>

<section class="flex flex-col gap-4">
  <h2 class="text-4xl font-bold">{t("visitedPlaces.title")}</h2>
  <p>
    {t("visitedPlaces.description")}
  </p>
  <article id="chartdiv" class="h-[550px] w-full"></article>
  <a href="https://my.flightradar24.com/LBlend" class="mx-auto w-fit lg:mx-0"
    ><Image
      src="https://banners-my.flightradar24.com/LBlend.png"
      alt="My Flightdiary.net profile"
      width="320"
      height="70"
    /></a
  >
</section>

<script is:inline src="https://www.visitedplaces.com/js/common.js"></script>
<script is:inline src="https://www.visitedplaces.com/js/viewer.js"></script>
