---
import { Image } from "astro:assets";

import Despair from "@assets/images/despair.png";
import DefaultPage from "@layouts/DefaultPage.astro";
---

<DefaultPage title="404: Not found!" description="A dead end">
  <main class="flex flex-col items-center justify-center gap-8">
    <h1 class="text-center text-6xl font-bold">404: Not found!</h1>
    <Image src={Despair} alt="Emoji of despair" width={256} height={256} loading="eager" />
    <p class="text-center">You may have reached a dead end, but hopefully our journey doesn't end here :)</p>
  </main>
</DefaultPage>
