---
import { Image } from "astro:assets";

import Despair from "@assets/images/despair.png";
import DefaultPage from "@layouts/DefaultPage.astro";

import { useTranslations } from "@i18n/index";

export const prerender = false;

const locale = Astro.locals.locale;
const t = useTranslations(locale);
---

<DefaultPage title={t("notFound.title")} description="A dead end">
  <main class="flex flex-col items-center justify-center gap-8">
    <h1 class="text-center text-6xl font-bold">{t("notFound.title")}</h1>
    <Image src={Despair} alt="Emoji of despair" width={256} height={256} loading="eager" />
    <p class="text-center">{t("notFound.message")}</p>
  </main>
</DefaultPage>
