---
import { useTranslations } from "@i18n/index";
import DefaultPage from "@layouts/DefaultPage.astro";
import AboutCourses from "@sections/about/Courses.astro";
import AboutFavourites from "@sections/about/Favourites.astro";
import AboutIntro from "@sections/about/Intro.astro";
import AboutLanguages from "@sections/about/Languages.astro";
import AboutProjects from "@sections/about/Projects.astro";
import AboutTech from "@sections/about/Tech.astro";
import AboutTimeline from "@sections/about/Timeline.astro";

const locale = Astro.locals.locale;
const t = useTranslations(locale);
---

<DefaultPage title={t("about.title")} description="About me">
  <main class="fade-in-section mx-auto grid max-w-6xl gap-24">
    <h1 class="text-center text-6xl font-bold">
      {t("about.pageTitle")}
    </h1>
    <AboutIntro />
    <AboutFavourites />
    <AboutLanguages />
    <AboutTech />
    <AboutProjects />
    <AboutCourses />
    <AboutTimeline />
  </main>
</DefaultPage>
