---
import DefaultPage from "@layouts/DefaultPage.astro";
import { Image } from "astro:assets";
---

<DefaultPage title="About" description="An overview about me and my projects">
  <main class="fade-in-section flex flex-col items-center justify-center gap-8">
    <h1 class="text-6xl font-bold">About</h1>
    <p>Coming soon</p>
    <Image
      loading="eager"
      width={256}
      height={256}
      src="https://i.pinimg.com/originals/eb/1b/27/eb1b27863813653543914d222ceb9cd0.gif"
      alt="Jackhammer GIF"
      class="h-64 w-64"
    />
  </main>
</DefaultPage>
