---
export const prerender = false;

import DefaultPage from "@layouts/DefaultPage.astro";

import MicroblogComponent from "@sections/Microblog.astro";
---

<DefaultPage title="Microblog" description="Short posts. Nobody likes Twitter, so I made my own version of it.">
  <main>
    <MicroblogComponent />
  </main>
</DefaultPage>
