---
import fs from "fs";
import Papa from "papaparse";
import path from "path";

import DefaultPage from "@layouts/DefaultPage.astro";

import SwimmingTable from "@sections/SwimmingTable.astro";

const csvFile = fs.readFileSync(path.resolve("./src/assets/swimming.csv"), "utf-8");
const parsed = Papa.parse(csvFile, { header: true, skipEmptyLines: true });
const data = parsed.data.map((row) => [
  row.Distance,
  row.Stroke,
  row.Time,
  row.Date,
  row.City,
  row.Country,
  row.PoolLength,
  row.IsPartialDistance,
]);
---

<DefaultPage title="Swimming" description="All records of my competitive swimming participations">
  <main class="flex flex-col items-center justify-center gap-8 px-4">
    <h1 class="text-6xl font-bold">Swimming records</h1>
    <div class="fade-in-section">
      <SwimmingTable data={data} />
    </div>
  </main>
</DefaultPage>
