---
import ArrowSVG from "@assets/icons/arrow_down.svg";
---

<a href="#main" class="hidden place-self-center-safe scroll-smooth sm:block">
  <ArrowSVG class="mt-10 mb-4 size-6 animate-bounce text-purple-400 lg:size-10" />
</a>
