---
import { Image } from "astro:assets";

import meCartoon from "@assets/images/me_cartoon.svg";

import HeaderLink from "@components/HeaderLink.astro";
---

<header class="m-0 mb-8 px-4 py-2 lg:px-20">
  <nav class="flex items-center justify-center sm:justify-between">
    <a href="/" class="hidden sm:block">
      <Image src={meCartoon} alt="Cartoon drawing of Leander Furumo" width={48} class="icon-link" loading="eager" />
    </a>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/photos">Photos</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  nav a {
    padding: 0.5em 0.5em;
    color: var(--text);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
