---
import Rss from "@assets/icons/rss.svg";
---

<a href="/rss.xml" target="_blank" class="non-styled-link link-button text-white">
  <button
    class="hover:bg-accent flex cursor-pointer items-center justify-center gap-2 rounded-lg border-1 border-gray-700 px-4 py-2 text-white hover:border-transparent"
  >
    <Rss class="size-4" />
    Subscribe
  </button>
</a>
