---
import { Image } from "astro:assets";

import norway from "@assets/icons/norway.svg";

import { useTranslations } from "@i18n/index";

const locale = Astro.locals.locale;
const t = useTranslations(locale);

const passionLines = t("intro.passions").split("\n");
---

<section>
  <h2 class="mb-3 text-4xl font-bold">Morn! 👋</h2>
  <div class="flex flex-col gap-4">
    <p>
      <Fragment set:html={t("intro.ageText", { age: `<span id="age">?</span>` })} />
    </p>
    <p>
      {t("intro.welcome")}
    </p>
    <p>
      {
        passionLines.map((line, i) => (
          <>
            {line}
            {i < passionLines.length - 1 && <br />}
          </>
        ))
      }
    </p>
    <p>
      {t("intro.location")}{" "}
      <Image src={norway} width={26} height={26} alt="Flag of Norway" class="inline saturate-70" />
      <br />
      {t("intro.hopingChange")}
    </p>
  </div>
</section>

<script>
  const yearsOld = () => {
    const ageInMilliseconds = new Date().getTime() - new Date(2000, 3, 30, 4, 44).getTime();
    const millisecondsInYear = 1000 * 60 * 60 * 24 * 365.25;
    return (ageInMilliseconds / millisecondsInYear).toFixed(9);
  };

  const age = document.getElementById("age");
  const updateAge = () => {
    if (age) {
      age.innerText = yearsOld();
    }
  };
  updateAge();
  setInterval(updateAge, 500);
</script>
